/* ==========================================================================
Main page styles
========================================================================== */
.maze {
  display: inline-block;
  width: 100%;
  height: 480px;
  background: url('../../../content/images/maze.png') no-repeat center top;
  background-size: contain;
}
